@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/login3.avif);
    background-size: cover;
    background-position: center;
}
main>form{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 30px 40px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h1{
    font-size: 36px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 30px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px; 
}
.input-box i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.login-options{
    display: flex;
    justify-content: space-between;
    margin: -8px 0 8px;
}
.login-options label input{
    accent-color: white;
    margin-right: 5px;
    
}
.login-options a{
    color: black;
    text-decoration: none
}
.login-options a:hover{
    text-decoration: underline;
}
.login{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.login:hover{
    background-color: #000000;
    border:2px solid white;
    color: white;
    transition: 0.5ms;
}
.register-link{
    text-align: center;
}
.register-link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}